.wrapperBoard {
  margin: 0 auto;
}

.Board {
  background-color: #8756ca;
  border: 2px solid white;
  margin: 1em;
}

.Board td {
  border: 1px solid white;
  color: rgba(255, 255, 255, .2);
  height: 60px;
  width: 60px;
}