.cell {
  border: 1px solid white;
  color: rgba(255, 255, 255, .2);
  cursor: pointer;
  height: 80px;
  width: 80px;
}
.cell:hover {
  color: white;
}
.highlight {
  border: 1px solid yellow;
  color: yellow;
  cursor: pointer;
  height: 80px;
  width: 80px;
}
.black, .white {
  height: 60px;
  width: 60px;
  border: 2px solid grey;
  border-radius: 50%;
  margin: 0 auto;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

@media (max-width: 1020px) {
  .cell {
    height: 60px;
    width: 60px;
  }

  .highlight {
    height: 60px;
    width: 60px;
  }

  .black,
  .white {
    height: 45px;
    width: 45px;
  }
}

@media (max-width: 720px) {
  .cell {
    height: 50px;
    width: 50px;
  }
  .highlight {
    height: 50px;
    width: 50px;
  }
  .black,
  .white {
    height: 35px;
    width: 35px;
  }
}

@media (max-width: 520px) {
  .cell {
    height: 35px;
    width: 35px;
  }
  .highlight {
    height: 35px;
    width: 35px;
  }
  .black,
  .white {
    height: 25px;
    width: 25px;
  }
}