.error {
  background-color: rgba(255, 255, 255, 0.7);
  color: red;
  padding: 5px 25px;
  position: absolute;
  top: 10%;
}

.flexContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
}

.flexItem:nth-of-type(1) {
  order: 1;
  width: 200px;
}
.flexItem:nth-of-type(2) {
  order: 2;
}
.flexItem:nth-of-type(3) {
  order: 3;
  width: 200px;
}

.title {
  border-bottom: 1px solid #fff;
  margin: 1em 0 0 0;
}

@media (max-width: 910px) {
  .flexItem:nth-of-type(1) {
    order: 2;
  }
  .flexItem:nth-of-type(2) {
    order: 1;
  }
  .flexItem:nth-of-type(3) {
    order: 3;
  }
}