.wrapperScore {
  margin: 0 auto;
}

.circlewhite {
  height: 100px;
  width: 100px;
  background-color: white;
  margin: 0 auto;
  border-radius: 50%;
}

.circleblack {
  height: 100px;
  width: 100px;
  background-color: black;
  margin: 0 auto;
  border-radius: 50%;
}

.light {
  background-color: white;
  color: green;
  padding: 5px 10px;
}

.dark {
  background-color: green;
  color: white;
  padding: 5px 10px;
}

@media (max-width: 720px) {
  .circleblack, .circlewhite{
    height: 70px;
    width: 70px;
  }
}

@media (max-width: 520px) {
  .circleblack, .circlewhite{
    height: 40px;
    width: 40px;
  }
}