.wrapperScore {
  margin: 0 auto;
}

.circlewhite {
  height: 100px;
  width: 100px;
  background-color: white;
  margin: 0 auto;
  border-radius: 50%;
}

.circleblack {
  height: 100px;
  width: 100px;
  background-color: black;
  margin: 0 auto;
  border-radius: 50%;
}

.light {
  background-color: white;
  color: green;
  padding: 5px 10px;
}