.formWrapper {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  text-align: center;
  max-width: 90%;
}

.formWrapper h5 {
  margin: 1.5rem 0;
}

.formWrapper form h2 {
  margin: 0 0 .5rem 0;
}

.formWrapper form input {
  font-size: 1em;
  padding: 10px 15px;
  min-width: 300px;
  text-align: center;
}

.form-group {
  margin-bottom: 2rem;
}

.button {
  background-color: green;
  border: 1px solid green;
  border-radius: 5px;
  box-shadow: 0 0 10px -3px white;
  color: white;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: bold;
  margin-top: 2rem;
  padding: 10px 0;
  text-shadow: 1px 0 #282c34;
  width: 100%;
}

.button:hover {
  background-color: darkgreen;
}

.button a {
  color: white;
  display: block;
  text-decoration: none;
}

.button a:hover {
  text-decoration: none;
  color: white;
}